header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
}
header img {
  max-width: 150px;
}

header nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}
